*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EFF3FF;
}
.head{
  height:56px;
  background-color: #FFFFFF;
}
.logo
{
  width:50%;
  text-align: left;
  float: left;
  height: 56px;
}
.imga
{
  height:40px;
}
.slogan
{
  height: 56px;
  width: 50%;
  font-size: 15px;
  text-align: right; 
  float: left;
  font-family:sans-serif;
  vertical-align: middle;
  padding-top: 15px;
  padding-right: 5px;
  /*display: inline-block;*/

}
.navbar{
  display: inline-block;
  height: 56px;
  background-color: #020202FF;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 0px;
}
.sidebar{
  width:19%;
  background-color: #FFFFFF;
  /*height: 641px;*/
  height: 100%;
  margin-top: 10px;
  border-radius: 10px;
  position: absolute;
  /*  font-family: 'Open Sans', sans-serif;*/
}
img.userimg{
  position: absolute;
  border-radius: 50%;
  width: 127px;
  height: 127px;
/*  text-align: center;
*/  display: block;
/*margin-left: 23%;*/
margin-right: auto;
top:43px;
left:80px;
}
.username{
  position: absolute;
  top:203px;
  width:100%;
  text-align: center;
  font-size: 20px;
  color: #524F4F;

}
.status{
  width:177px;
  text-align: center;
  border-width: 1.7px;
  border-style: solid;
  border-radius: 6px;
  border-color: #F80A0A;
  color: #FC0909;
  font-size: 20px;
  position: absolute;
  top: 260px;
  left: 55px;
  font-weight: bold;
  box-shadow: 5px grey;
}
.profilepic{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.profilepics{
  position:absolute;
  top: 10px;
  left:25px;

}
.prof{
  position: absolute;
  top: 13px;
  left:69px;
  font-size: 17px;
  color: #524F4F;
}
.link1{
  width:100%;
  height:50px;
  position: absolute;
  top: 332px;
}
#profs{
  width:100%;
  height:50px;
  position: absolute;
  /*  top: 7px;*/
}
/*a.link1 : hover{
  background-color: #65ACE2;
  }*/
  a.link1:hover {
    background-color: #65ACE2;
    color: white;
  }
  a.link1:active {
   background : #65ACE2;
 }
 .link2{
  width:100%;
  height:50px;
  position: absolute;
  top: 392px;
}
/*a.link1 : hover{
  background-color: #65ACE2;
  }*/
  a.link2:hover {
    background-color: #65ACE2;
    color: white;
  }
  a.link2:active {
   background : #65ACE2;
   color: white;
 }
 .link3{
  width:100%;
  height:50px;
  position: absolute;
  top: 452px;
}
/*a.link1 : hover{
  background-color: #65ACE2;
  }*/
  a.link3:hover {
    background-color: #65ACE2;
  }
  a.link3:active {
   background : #65ACE2;
 }
 .main{
  background-color: white;
  border-radius: 10px;
  /*width: 1193px;*/
  width: 78%;
  margin-top: 10px;
  position: absolute;
  /*height: 641px;*/
  height: 100%;
  /*margin-left:310px;*/
  margin-left: 21%;
}
.heading{
  position:absolute;
  top: 21px;
  font-size: 29px;
  color: #524F4F;
  left:66px;
}
.name{
  position: absolute;
  width: 40%;
  left:66px;
  top:82px;
  color: #524F4F;
  font-size: 18px;
}
.email{
  position: absolute;
  width: 40%;
  right:55px;
  top:82px;
  color: #524F4F;
  font-size: 18px;
}
.fname{
  position: absolute;
  width: 40%;
  left:66px;
  top: 118px;
  height: 37px; 
  /*overflow-x: hidden;*/
}
#fname{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border-style: outset;
  color: #524F4F;
  overflow-wrap: all;
}
.mail{
  position: absolute;
  width: 40%;
  right: 55px;
  top: 118px;
  height: 37px;
}
.insti{
  position: absolute;
  width: 40%;
  left:66px;
  top:185px;
  color: #524F4F;
  font-size: 18px;
}
.yos{
  position: absolute;
  width: 40%;
  right:55px;
  top:185px;
  color: #524F4F;
  font-size: 18px;
}
.institute{
  position: absolute;
  width: 40%;
  left:66px;
  top: 221px;
  height: 37px;
}
.year{
  position: absolute;
  width: 40%;
  right: 55px;
  top: 221px;
  height: 37px;
}

/*3rd part */

.contact{
  position: absolute;
  width: 40%;
  left:66px;
  top:288px;
  color: #524F4F;
  font-size: 18px;
}
.linkedin{
  position: absolute;
  width: 40%;
  right:55px;
  top:288px;
  color: #524F4F;
  font-size: 18px;
}
.contactno{
  position: absolute;
  width: 40%;
  left:66px;
  top: 324px;
  height: 37px;
}
.linkedinid{
  position: absolute;
  width: 40%;
  right: 55px;
  top: 324px;
  height: 37px;
}

/*4th part*/

.desci{
  position: absolute;
  width: 40%;
  left:66px;
  top:391px;
  color: #524F4F;
  font-size: 18px;
}
.description{
  position: absolute;
  width: 90%;
  left:66px;
  top: 427px;
  height: 129px;
}
.update{
  position: absolute;
  border-radius: 6px;
  top: 600px;
  left:42%;
  height: 38px;
  width: 196px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
input[type="submit"]{
  background-color: #1866C2;
  color: white;
    vertical-align: middle;
 padding-bottom: 10px; 
   margin-bottom: 5px;
}
