*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.head{
  height:56px;
}
.logo
{
  width:50%;
  text-align: left;
  float: left;
  height: 56px;
}
.imga
{
  height:40px;
}
.slogan
{
  height: 56px;
  width: 50%;
  font-size: 15px;
  text-align: right; 
  float: left;
  font-family:sans-serif;
  vertical-align: middle;
  padding-top: 15px;
  padding-right: 5px;
  /*display: inline-block;*/

}
.navbar{
  display: inline-block;
  height: 56px;
  background-color: #020202FF;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 0px;
}